@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #a5b7f9;
  --secondary-color: #b7094c;
}

.header {
  background-image: url(./img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.card {
  width: 77px;
  height: 77px;
  background-color: #b775eb;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e3a59;
  opacity: 0.8;
}

.card-2 {
  background-color: #97e89f;
}

.card-3 {
  background-color: #a5b7f9;
}

h1 {
  color: #2e3a59;
  font-size: 2rem;
  font-weight: 300;
}

.tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.fas,
.far {
  font-size: 1.5rem;
}

.fa-bars {
  color: #2e3a59;
}

.fa-chevron-down {
  color: #fff;
  display: block;
  text-align: center;
}

.fa-bell {
  color: #2e3a59;
}

input {
  border-radius: 14px;
  border: none;
  padding: 10px;
  width: 100%;
  margin: 15px 0;
  opacity: 0.9;
}

input:focus {
  outline: none;
}

::placeholder {
  opacity: 0.5;
}

/* Notas */
.notas-recientes h2 {
  padding: 20px;
  font-weight: 400;
}

.notas {
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 15px;
  margin: 0 10px 10px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notas p {
  color: #2e3a59;
}

.btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 100%;
  color: #fff;
}
